<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admino4ka</title>
</head>
    <body>
        {% if is_login %}
            <p>Hello, {{ administrator.login }}</p>
            {% if clients %}
                <form method="post" action="{% url 'restaurant:' %}">
                    <ul>
                    {% for c in clients %}
                       <li>
                            <a>{{ c.login }}</a>
                            <ul>
                                {% for o in c.order_set.all %}
                                    <li>
                                        <a href="{% url 'restaurant:order' o.client_id o.id %}">Order #{{ o.id }}</a>
                                        <input type="checkbox" name="{{ o.id }}">
                                    </li>
                                {% endfor %}
                            </ul>
                       </li>
                    {% endfor %}
                    </ul>
                    <input type="submit" value="Accept orders">
                </form>
            {% endif %}
        {% else %}
            <p>Fuck off,? you're not admin</p>
        {% endif %}
        <p>
            <a href="{% url 'restaurant:index' %}">Index page</a>
        </p>
    </body>
</html>