<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ user.login }}</title>
    </head>
    <body>
        <p>User -  {{ user.login }}</p>
        <p>Orders:</p>
        {% for o in user.order_set.all %}
            <table>
                    <tr>
                        <td>
                            <a href="{% url 'restaurant:order' user.id o.id %}">Order #{{ forloop.counter }}</a>
                        </td>
                    </tr>
                {% for d in o.dishes.all %}
                    <tr>
                        <td>{{ d.dish_name }}</td>
                        <td>{{ d.price }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br><br>
        {% endfor %}
        {% if is_login %}
            <p><a href="{% url 'restaurant:new_order' user.id %}">Make order</a></p>
            <p><a href="{% url 'restaurant:logout' %}">Log out</a></p>
        {% endif %}
        <p>
            <a href="{% url 'restaurant:index' %}">Index page</a>
        </p>
    </body>
</html>